# See http://help.github.com/ignore-files/ for more about ignoring files.



# dependencies
server/node_modules
/docs/node_modules

# IDEs and editors
server/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
